{% extends 'base.html' %}

{% block title %} List of studets {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ filters_form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Filters</button>
                            <a href="{% url 'list_of_students' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                {% if all_students %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Active</th>
                            <th>Gender</th>
                            <th>Name of trainer</th>
                            <th>Course</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in all_students %}
                            <tr>
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.start_date|date:"d-m-Y" }}</td>
                                <td>{{ student.end_date|date:"d-m-Y" }}</td>
                                <td>{% if student.active %}</td>
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                <td>{{ student.gender }}</td>
                                <td>
                                    {% if student.trainer %}
                                        {{ student.trainer }}
                                    {% else %}
                                        No trainer
                                    {% endif %}
                                </td>
                                <td>
                                    {% if student.trainer.department %}
                                        {{ student.trainer.department }}
                                    {% else %}
                                        No department
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            More actions
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'update_student' student.id %}">Update</a>
                                            </li>
                                            <li><a class="dropdown-item" href="{% url 'delete_student' student.id %}">Delete</a>
                                            </li>
                                            <li><a class="dropdown-item" href="{% url 'details_student' student.id %}">Details</a>
                                            </li>
                                            <li>
                                                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#student_{{ student.id }}">
                                                    Inactivate
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="student_{{ student.id }}" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Inactivate</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you shure you want to
                                            inactivate {{ student.first_name }} {{ student.last_name }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                No
                                            </button>
                                            <a href="{% url 'inactivate-student'  student.id %}" class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-center"> No students </h3>
                {% endif %}
            </div>
        </div>
        {#    {% for trainer in get_all_trainers %}#}
        {#        <p>{{ trainer.first_name }} {{ trainer.last_name }}</p>#}
        {#    {% endfor %}#}
        {#    {{ datetime }}#}
    </div>
{% endblock %}