{% extends 'base.html' %}

{% block title %} Password changed successfully {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Password changed successfully </h3>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">Congratulations, the password has been successfully changed!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}